{% layout 'admin-layout' editUserActive:'active' %}

<div>
  <div class="page-header">
    <h3>
      {% if article %} 编辑账号 {% else %} 创建账号 {% endif %}
    </h3>
  </div>

  <form method="post">

    {% if user %}
      <input type="hidden" name="_method" value="PUT">
    {% endif %}

    <div class="form-group">
      <label for="title" class="control-label">用户昵称</label>
      <input type="text" class="form-control" name="name" id="name"
          placeholder="张三" value="{{user.name}}">
    </div>

    <div class="form-group">
      <label for="title" class="control-label">用户id</label>
      <input type="text" class="form-control" name="username" id="username"
          placeholder="zhangsan" value="{{user.username}}">
    </div>

    <div class="form-group">
      <label for="title" class="control-label">密码</label>
      <input type="text" class="form-control" name="password" id="password"
          placeholder="123456" value="{{user.password}}">
    </div>

    <button type="submit" class="btn btn-primary">提交</button>
  </form>

</div>
